<div class="content-container section" id="demo">
  <div class="container text-center">
    <h1>Demo</h1>
    <div class="row">
      <div
        class="col-sm-6 col-lg-6 p-0 wow fadeInLeft"
        data-wow-duration="2s"
        data-wow-delay="0.5s"
      >
        <div class="card text-center">
          <div class="card-header p-0">
            <div
              class="header text-center p-0"
              style="background-color: rgb(242, 109, 125)"
            >
              <h5 class="mb-0 py-3 text-white">Medium Catalog Layout</h5>
            </div>
            <div class="card-body p-0">
              <img src="assets/images/demo2.png" class="mw-100" alt="" />
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">View Demo</a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-sm-6 col-lg-6 p-0 wow fadeInRight"
        data-wow-duration="2s"
        data-wow-delay="0.5s"
      >
        <div class="card text-center">
          <div class="card-header p-0">
            <div
              class="header text-center p-0"
              style="background-color: rgb(26, 19, 95)"
            >
              <h5 class="mb-0 py-3 text-white">Large Catalog Layout</h5>
            </div>
            <div class="card-body p-0">
              <img src="assets/images/demo1.png" class="mw-100" alt="" />
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">View Demo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
