<div class="container">
  <div class="title wow fadeInLeftBig" data-wow-duration="2s">
    <h2>Get started today!</h2>
  </div>

  <div class="row">
    <div class="col-md-5 wow fadeInLeftBig" data-wow-duration="3s">
      <h5>Have any Problem?</h5>
      <p style="opacity: 0.7">
        No worries - Our support service is always ready to help you.
      </p>
      <h5>Do you new user and you can't install theme?</h5>
      <p style="opacity: 0.7">No worries - we'll install free theme for you.</p>
      <button>Request support here!</button>
    </div>

    <div class="col-md-7 wow fadeInRightBig" data-wow-duration="2s">
      <img src="assets/img-screen-desktop.png" class="mw-100" alt="" />
    </div>
  </div>

  <hr />
  <div class="creator text-center wow fadeInUpBig" data-wow-duration="3s">
    <h1>Created by @Hesham Abdelaziz</h1>
  </div>
</div>
