.container {
  margin-top: 120px;
  height: 550px;
  overflow: hidden;
}
.col-md-5 {
  font-size: 12px;
}

.title {
  margin-bottom: 50px;
}

button {
  margin-top: 25px;
  padding: 15px 25px;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  background-color: #f26d7d;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

button:hover {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

img {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
}
