.content-container {
  margin-top: 100px;
  height: 600px;
  background-image: url(/assets/small/bg-shapes-03.png);
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.images {
  position: relative;
  margin-top: 250px;
}

.images img:nth-child(1) {
  max-width: 70%;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
}

.images img:nth-child(2) {
  position: absolute;
  left: 80px;
  top: 90px;
  max-width: 30%;
  height: auto;
  z-index: 2;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
}

.images img:nth-child(3) {
  position: absolute;
  left: 250px;
  top: 0px;
  max-width: 30%;
  z-index: 1;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
}

.list {
  float: right;
}

.list-title {
  margin-left: 29px;
}

ul {
  list-style: none;
  margin-top: 30px;
}
ul li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #222;
  transition: 0.4s;
}

ul li a:hover {
  color: #f26d7d;
}
