<div class="content-container section" id="features">
  <div class="container">
    <div class="row">
      <div class="images col-md-7 text-center">
        <img
          class="wow fadeInUp"
          data-wow-duration="1s"
          src="assets/small/img-screen-desktop.jpg"
          alt=""
        />
        <img
          class="wow fadeInUp"
          data-wow-duration="2s"
          data-wow-delay="1s"
          src="assets/small/img-screen-small-02.jpg"
          alt=""
        />
        <img
          class="wow fadeInUp"
          data-wow-duration="2s"
          data-wow-delay="0.5s"
          src="assets/small/img-screen-small-01.jpg"
          alt=""
        />
      </div>
      <div class="col-md-4">
        <div class="list-title">
          <h1>Features</h1>
        </div>
        <ul>
          <li><a href="#"> Drag & Drop Page Builder </a></li>
          <hr />
          <li><a href="#"> Mobile Friendly and Fully Responsive </a></li>
          <hr />

          <li><a href="#"> 2 Themes style version </a></li>
          <hr />

          <li><a href="#"> Powerful Theme Editor </a></li>
          <hr />

          <li><a href="#"> Advanced Filter </a></li>
          <hr />

          <li><a href="#"> Ajax Functions </a></li>
          <hr />

          <li><a href="#"> Sub-collections listing </a></li>
          <hr />

          <li>
            <a href="#"> Product Detial page suitable for any purpose </a>
          </li>
          <hr />

          <li><a href="#"> Detalied Documentaion & Premium support </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
