<div class="content-container section">
  <div class="container text-center">
    <div class="header">
      <h2>Why choose us?</h2>
    </div>
    <div class="row" style="display: flex">
      <div class="col-sm-4">
        <img src="assets/icons/icon1.png" alt="" />
        <div class="title text-center">
          <h5>Mobile First with optimate UI/UX design</h5>
        </div>
        <div class="details text-center" style="opacity: 0.5">
          <p style="font-size: 14px">
            People have spent more and more time on the internet from mobile
            ends. So the Mobile first themes is the the best for your statup.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="assets/icons/icon2.png" alt="" />
        <div class="title text-center">
          <h5>Drag & Drop Page builder</h5>
        </div>
        <div class="details text-center" style="opacity: 0.5">
          <p style="font-size: 14px">
            Sections as individual, customizable components of a theme. Within
            each section, you or your client can easily add, reorder, and remove
            chunks of content.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="assets/icons/icon3.png" alt="" />
        <div class="title text-center">
          <h5>with thousands of functions</h5>
        </div>
        <div class="details text-center" style="opacity: 0.5">
          <p style="font-size: 14px">
            The theme include a lot of functions and effect. But they can easily
            controll in Theme Editor. Just click to change options.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
