.content-container {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  background-color: rgb(237, 237, 237);
  background: url(src/assets/images/bg-shapes.png);
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  z-index: 100;
}

.content-container ::after {
  content: "";
  background: url(src/assets/images/bg-shape-mask-down.png);
  background-size: cover;
  height: 90px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -20px;
}

.links a {
  margin: 20px;
  text-decoration: none;
  color: rgb(181, 181, 181);
  position: relative;
}
.links a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  right: 0;
  bottom: -5px;
  transition: 0.5s;
}

ul {
  list-style: none;
  margin-left: 375px;
  display: flex;
}

.links a:hover::after {
  width: 100%;
  left: 0;
  background-color: #f26d7d;
}

.links a:hover {
  color: #f26d7d;
}

.active a {
  color: #f26d7d;
}

.active a::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -5px;
  background-color: #f26d7d;
}
